*{
    margin: 0;
    padding: 0;
    font-family: "Urbanist" sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background: #333;
    color: #fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display{
    width: 100;
    margin: 50px 0 30px 0;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.container h1{
    font-weigth: 500;
    font-size: 45px;
}

.container h1 span{
    color: #ff3d00;
    border-bottom: 4px solid #3f82ffff;
    padding-bottom: 7px;
}

.display .fa-regular.fa-copy{
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}